{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<br>

<div class="container hello-tracking">
  <div class="alert alert-info text-center" role="alert">
    This test requires tracking and carrier to be specified in the URL.<br>
    http://localhost:8000/?tracking=000000000000000000000&carrier=fedex
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <h2>Checkpoints</h2>
      <ul class="checkpoints"></ul>
    </div>
    <div class="col-md-4">
      <h2>Promo #1</h2>
    </div>
    <div class="col-md-4">
      <h2>Expected Delivery</h2>
      <p class="expected-delivery"></p>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <h2>Promo #2</h2>
    </div>
  </div>
</div>
<script>
  function trackingComplete(args) {
    console.log(args);
    var $checkpoints = $('.hello-tracking ul.checkpoints');
    var $expectedDelivery = $('.hello-tracking p.expected-delivery');
    for  (i in args.checkpoints) {
      var $li = $("<li>");
      $li.text(args.checkpoints[i].message);
      $checkpoints.append($li);
    }
    $expectedDelivery.text(args.expected_delivery);
  }
</script>
<script type="text/javascript" src="//localhost:8000/trackings/{{request.GET.carrier}}/{{request.GET.tracking}}/?callback=trackingComplete"></script>
{% endblock %}