{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<style>
.hello-tracking {
  margin-top: 50px;
  margin-bottom: 50px;
}
.hello-tracking .row .checkpoints ,
.hello-tracking .row .expected-delivery ,
.hello-tracking .row .promo {
  height:500px;
}

.hello-tracking .row .checkpoints {
  overflow: scroll;
}

.hello-tracking .row .checkpoints ul {
  margin: 0;
  padding: 0;
}

.hello-tracking .row .checkpoints ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  clear: both;
  border-bottom: 1px solid #333;
  padding: 10px 0;
  display: block;
  overflow: auto;
  zoom: 1;

}

.hello-tracking .row .checkpoints ul li .dt {
  width: 20%;
  max-width: 80px;
  float: left;
  padding-right: 10px;
}

.hello-tracking .row .checkpoints ul li .status {
  width: 80%;
  float: left;
}

.hello-tracking .row .expected-delivery .date {
  background: #bfd4e7;
  padding: 30px;
}

.hello-tracking .row .expected-delivery .date .dow {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  display: block;
}

.hello-tracking .row .expected-delivery .date .mon {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.hello-tracking .row .expected-delivery .date .day {
  font-weight: bold;
  font-size: 100px;
  display: block;
}
</style>

<div class="container hello-tracking">
  <div class="alert alert-info text-center" role="alert">
    This test requires tracking and carrier to be specified in the URL.<br>
    <a href="/?tracking=995365613980385&carrier=fedex">/?tracking=995365613980385&carrier=fedex</a>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4 checkpoints">
      <h2>Tracking</h2>
      <h3></h3>
      <!-- <h4>Checkpoints</h4> -->
      <ul></ul>
    </div>
    <div class="col-md-4 expected-delivery">
      <h2>Expected Delivery</h2>
      <div class="date"></div>
    </div>
    <div class="col-md-4 promo">
      <img src="{% static 'marketing-image.png'%}">
    </div>
  </div> <!-- row -->
  <div class="row">
    <div class="col-md-12">
      <img src="{% static 'marketing-banner.png'%}">
    </div>
  </div>
</div>
<script>
  function trackingComplete(args) {
    console.log(args);
    var $widget = $('div.hello-tracking');
    var $checkpoints = $('.checkpoints ul', $widget);
    var $currentStatus = $('.checkpoints h3', $widget);
    var $expectedDelivery = $('.expected-delivery div.date', $widget);
    var $expectedDeliveryDow = $('<span class="dow">');
    var $expectedDeliveryMon = $('<span class="mon">');
    var $expectedDeliveryDay = $('<span class="day">');

    // https://www.aftership.com/docs/api/4/delivery-status
    var trackingStatusMatrix = {
      'Pending': 'Pending',
      'InfoReceived': 'InfoReceived',
      'InTransit': 'InTransit',
      'OutForDelivery': 'Out for Delivery',
      'AttemptFail': 'AttemptFail',
      'Delivered': 'Delivered',
      'Exception': 'Exception',
      'Expired': 'Expired',
    }

    // Process Checkpopints
    for  (i in args.checkpoints) {
      var $li = $("<li>");
      var $dt = $("<div class=\"dt\">");
      var $status = $("<div class=\"status\">");
      var $msg = $("<div class=\"msg\">");
      var $loc = $("<div class=\"loc\">");

      var checkpoint = args.checkpoints[i];
      var dt = checkpoint.checkpoint_time;

      $msg.text(checkpoint.message);
      $loc.text(checkpoint.location);

      $status.append($msg);
      $status.append($loc);
      $dt.append(dt);
      $li.append($dt);
      $li.append($status);
      $checkpoints.append($li);
    }

    // Delivery Date
    $expectedDeliveryDow.text(args.expected_delivery.dow);
    $expectedDeliveryMon.text(args.expected_delivery.mon);
    $expectedDeliveryDay.text(args.expected_delivery.day);
    $expectedDelivery.append($expectedDeliveryDow);
    $expectedDelivery.append($expectedDeliveryMon);
    $expectedDelivery.append($expectedDeliveryDay);

    // Current Status
    $currentStatus.text(trackingStatusMatrix[args.tag]);
  }
</script>
<script type="text/javascript" src="/trackings/{{request.GET.carrier}}/{{request.GET.tracking}}/?callback=trackingComplete"></script>
{% endblock %}